.bg-turq{
    background-color:lightseagreen;
    color:white;

}
H1{
    color:lightseagreen;
    font-size: calc(100% + 2vw );
    
}
H3{
    color:lightseagreen;
    font-size: calc(90% + 1vw );
}
.nav-bar-bg{
    background-color: white;
}

.bodycol{
    background-color: lightgray;
}

@media (max-width: 992px) {
    .nav-bar-bg{
        background-color: lightseagreen;
    }
    .bodycol{
        background-color: white;
    }
}
