.bg-turq{
    background-color:lightseagreen;
    color:white;

}

.temp{
    text-align: left;
}

.bgblue{
    background-color: lightskyblue;

}

.bgpink{
    background-color: pink;
}
H1{
    color:lightseagreen;
    font-size: calc(100% + 1vw + 1vh);
    
}

.bsc-style{
    background-color: white;
}

.text-responsive {
    font-size: calc(100% + 1vw + 1vh);
}

