.bg-turq{
    background-color:lightseagreen;
    color:white;

}

.temp{
    text-align: left;
}

.bgblue{
    background-color: lightskyblue;

}

.bgpink{
    background-color: pink;
}
H1{
    color:lightseagreen;
    
}

.bsc-style{
    background-color: white;
}